## Set Part-3

# Join two sets

In [1]:
x ={1,2,6,4,3,5,17}
y= {"chandan","gulshan","Ram"}
z=x.union(y)
print(z)

{1, 2, 3, 4, 5, 6, 'gulshan', 'Ram', 17, 'chandan'}

### write a apython program to find the maximum and minimum values in sets.

In [2]:
setn ={5,4,6,21,37,9,4,12,47}
print("The maximum value in this sets is:")
print(max(setn))

The maximum value in this sets is:
47

In [3]:
setn ={5,4,6,21,37,9,4,12,47}
print("The minimum value in this sets is:")
print(min(setn))

The minimum value in this sets is:
4

# Set Operation

##### Union method

In [4]:
set1 ={1,2,3,4,5}
set2= {4,5,6,7,8,9}
union_set = set1.union(set2)      # UNION METHOD
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

##### Intersection method

In [7]:
set1 ={1,2,3,4,5}
set2= {4,5,6,7,8,9}
intersection_set = set1.intersection(set2)      # INTERSECTION METHOD
print(intersection_set)

{4, 5}

##### Difference method

In [8]:
set1 ={1,2,3,4,5}
set2= {4,5,6,7,8,9}
Difference_set = set1.difference(set2)      # DIFFERENCE METHOD
print(Difference_set)

{1, 2, 3}

In [9]:
set1 ={1,2,3,4,5}
set2= {4,5,6,7,8,9}
Difference_set = set2.difference(set1)      # DIFFERENCE METHOD
print(Difference_set)

{8, 9, 6, 7}

## Practice question

Define two sets students_passed_math and students_passed_science
containing student IDs who Math and Science respectively. Write python code to:

1) Print the number of student who passed both Math and science.
2) print the student IDs who passed only math.
3) Print the studenrt IDs who passed only Science.
4) Determine if student_passed_math is a subset of student_passed_science.
5) Determine if student_passed_math is a superset of student_passed_science.

In [25]:
#define the two sets
students_passed_math ={101,102,103,104,105,106}
students_passed_science={103,104,105,106,107}

In [26]:
both_passed = students_passed_math.intersection(students_passed_science)                 #1
print("The students id os those students who have passed both math and science:")
print(both_passed)
print("total students passed in both mnth and science",len(both_passed))

The students id os those students who have passed both math and science:
{104, 105, 106, 103}
total students passed in both mnth and science 4

In [27]:
Only_math =students_passed_math.difference(students_passed_science)                       #2
print("the id of student who passed only math :",Only_math)

the id of student who passed only math : {101, 102}

In [28]:
Only_science =students_passed_science.difference(students_passed_math)                       #3
print("the id of student who passed only math :",Only_science)

the id of student who passed only math : {107}

In [29]:
sub = students_passed_math.issubset(students_passed_science)                             #4
print("is students in maths is a subsets of student passed in science",sub)

is students in maths is a subsets of student passed in science False

In [31]:
sub = students_passed_science.issubset(students_passed_math)
print("is students in scienc is a subsets of student passed in math",sub)

is students in scienc is a subsets of student passed in math False

In [32]:
sub = students_passed_math.issuperset(students_passed_science)                         #5
print("is students in maths is a superset of student passed in science",sub)

is students in maths is a superset of student passed in science False