### Lecture 18

#### postive Indexing

In [1]:
my_tuple =('apple','banana','cherry','date')
print(my_tuple[0])
print(my_tuple[2])

apple
cherry

### negative Indexing

In [2]:
my_tuple =('apple','banana','cherry','date')
print(my_tuple[-1])
print(my_tuple[-3])

date
banana

### slicing in tuple

In [4]:
my_tup = ('a','b','c','d','e')
print(my_tup[1:4])

('b', 'c', 'd')

In [5]:
my_tup = ('a','b','c','d','e')
print(my_tup[:4])

('a', 'b', 'c', 'd')

In [6]:
my_tup = ('a','b','c','d','e')
print(my_tup[:])

('a', 'b', 'c', 'd', 'e')

In [7]:
my_tup = ('a','b','c','d','e')
print(my_tup[::2])

('a', 'c', 'e')

### slicing with negative indexing

In [11]:
tup2 =('apple','banana','cherry','date')
print(tup2[:-3])

print(tup2[-3:])

('apple',)
('banana', 'cherry', 'date')

### reversing the tuple

In [12]:
a=(46,21,64,87,45,72,94,31,63,6454,122,71)
print(a[::-1])

(71, 122, 6454, 63, 31, 94, 72, 45, 87, 64, 21, 46)

In [14]:
T =(1,2,3,4,5,6,7,8)
print(T[::])
print(T[3:])
print(T[:4])
print(T[::-1])

(1, 2, 3, 4, 5, 6, 7, 8)
(4, 5, 6, 7, 8)
(1, 2, 3, 4)
(8, 7, 6, 5, 4, 3, 2, 1)

### Duplicates are allow in tuple

In [15]:
a =(12,45,45,12,13,16,13,16)
print(a)

(12, 45, 45, 12, 13, 16, 13, 16)

## Method of tuples

#### 1. Count method

In [16]:
a=(12,78,441,97,15,12,35,42)
print(a.count(12))

2

In [19]:
b=('chandan','Gulshan','chandan','prashant','Gulshan','Gulshan')
print(b.count('Gulshan'))
print(b.count('chandan'))

3
2

#### 2.Index

In [21]:
my_tuple =('apple','banana','cherry','date')
print(my_tuple.index('cherry'))
print(my_tuple.index('date'))

2
3

In [22]:
a=(12,78,441,97,15,12,35,42)
print(a.index(12))

0

### ** Once a tuple is create is created,you cannot change its values. tuple are unchangeble , or immutableas it also
### is called

##### Converting tuple into list

In [24]:
x = ("data","Python","chandan","thakur")
print(x)
print(type(x))

y =list(x)
print(y)
print(type(y))

('data', 'Python', 'chandan', 'thakur')
<class 'tuple'>
['data', 'Python', 'chandan', 'thakur']
<class 'list'>

#### Add items

In [28]:
a=(25,2,45,74,65)
y=list(a)
print(y)
print(type(y))

y.append(30)
print("the new list is")
print(y)

x = tuple(y)
print("the new item added on tuple is")
print(x)

[25, 2, 45, 74, 65]
<class 'list'>
the new list is
[25, 2, 45, 74, 65, 30]
the new item added on tuple is
(25, 2, 45, 74, 65, 30)

###  Add tuple to a tuple

In [7]:
tup1 = ("chandan","data","science","swati")
y =("chsmf","mohit")
b=tup1+y
print(b)

('chandan', 'data', 'science', 'swati', 'chsmf', 'mohit')

#### Remove items

In [15]:
fruits =( "apple","banana","cherry","date","fig")
print(fruits)
print(type(fruits))

fruit_list = list(fruits)
print(fruit_list)
print(type(fruit_list))

fruit_list.remove("cherry")
print(fruit_list)

new_fruit = tuple(fruit_list)
print(new_fruit)
print(type(new_fruit))

('apple', 'banana', 'cherry', 'date', 'fig')
<class 'tuple'>
['apple', 'banana', 'cherry', 'date', 'fig']
<class 'list'>
['apple', 'banana', 'date', 'fig']
('apple', 'banana', 'date', 'fig')
<class 'tuple'>

### changing the items in tuple

In [24]:
x =("apple","banana","cherry","data","fig")
print(x)
print(type(x))

y= list(x)
print(y)
print(type(y))

y[1] = "blueberry"
print(y)

new_tuple =tuple(y)
print(new_tuple)
print(type(new_tuple))

('apple', 'banana', 'cherry', 'data', 'fig')
<class 'tuple'>
['apple', 'banana', 'cherry', 'data', 'fig']
<class 'list'>
['apple', 'blueberry', 'cherry', 'data', 'fig']
('apple', 'blueberry', 'cherry', 'data', 'fig')
<class 'tuple'>

### del Keyword

In [28]:
x =(2,14,35,45,85,35)
print(x)
del x
print(x)

(2, 14, 35, 45, 85, 35)

NameError: name 'x' is not defined

### Loop though a tuple

In [29]:
thistuple = ("a","b","c")
for x in thistuple:
    print(x)

a
b
c

### join two tuples

In [31]:
tuple1 =("a","b","c")
tuple2 =(1,2,3)

tuple3 =tuple1+tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

### Multiply tuples

In [32]:
dost = ("satyam","purushootam","Gulshan","Mohit","Ashish")
loveu = dost*2
print(loveu)

('satyam', 'purushootam', 'Gulshan', 'Mohit', 'Ashish', 'satyam', 'purushootam', 'Gulshan', 'Mohit', 'Ashish')

In [33]:
dost = ("satyam","purushootam","Gulshan","Mohit","Ashish")
loveu = dost*3
print(loveu)

('satyam', 'purushootam', 'Gulshan', 'Mohit', 'Ashish', 'satyam', 'purushootam', 'Gulshan', 'Mohit', 'Ashish', 'satyam', 'purushootam', 'Gulshan', 'Mohit', 'Ashish')

### Practice Question

In [34]:
t =(1,)
l =list(t)
print(type(l))

<class 'list'>

In [36]:
y =(1,2,3)
l=list(y)
l.append(4)
print(l)

[1, 2, 3, 4]