# sets part-2

### True and 1 are considered as same value

In [3]:
a= {'animals','ball',12,14,16,56,24,31,True}
print(a)

{True, 'animals', 12, 'ball', 14, 16, 56, 24, 31}

In [4]:
a= {'animals','ball',12,14,16,56,24,31,1,True}
print(a)

{1, 'animals', 12, 'ball', 14, 16, 56, 24, 31}

### False and 0 are considered as same value

In [5]:
a= {'animals','ball',12,14,16,56,24,31,False}
print(a)

{False, 'animals', 12, 'ball', 14, 16, 56, 24, 31}

In [7]:
a= {'animals','ball',12,14,16,56,24,31,0,False}
print(a)

{0, 'animals', 12, 'ball', 14, 16, 56, 24, 31}

## Nested is not a property of the set

In [8]:
a ={11,24,{45,11,13},{21,34,14}}
print(a)

TypeError: unhashable type: 'set'

## Check if items is present in the set or not

In [12]:
a= {"chandan","Gulshan","Python"}
print("chandan" in a)
print("Gulshan"in a)
print("Rohan"in a)

True
True
False

In [13]:
a= {"chandan","Gulshan","Python",2,5,4,16,35}
print(16 in a)

True

## Get the Length of the set

In [16]:
a= {"chandan","Gulshan","Python",35,87,14,12,54,25,41,241,654}
print(len(a))

12

## Add items

##### Once a set is created, you cannot change thr items but you can add the new items

In [18]:
a={"a1","a3","a4"}
a.add("d1")
print(a)

{'a3', 'a4', 'a1', 'd1'}

## Update method

In [19]:
x ={"data","Python","code"}
y ={10,20,30,40,50,60,70,80,90}
x.update(y)
print(x)

{'data', 70, 40, 10, 80, 'Python', 50, 20, 'code', 90, 60, 30}

## Remove items form the set

In [21]:
n ={70,40,10,"code","data","science",5.5,21,54,36.5,21,56.1}
n.remove(56.1)
print(n)

{'data', 5.5, 70, 36.5, 40, 10, 'science', 21, 54, 'code'}

In [23]:
n ={70,40,10,"code","data","science",5.5,21,54,36.5,21,56.1}
n.remove("code")
print(n)

{'data', 5.5, 70, 36.5, 40, 10, 'science', 21, 54, 56.1}

In [25]:
n ={70,40,10,"code","data","science",5.5,21,54,36.5,21,56.1}
n.remove("science")
print(n)

{'data', 5.5, 70, 36.5, 40, 10, 21, 54, 56.1, 'code'}

## Pop method

In [34]:
a= {12,35,42,16,74,18,19,8,54,7,6}
print(a)                                       ## pop ka mtalb pure sets me se koi bhi value/random value ko remove kr deta hai.
c=a.pop()
print(a)
print(c)

{35, 6, 7, 8, 42, 74, 12, 16, 18, 19, 54}
{6, 7, 8, 42, 74, 12, 16, 18, 19, 54}
35

In [33]:
x ={"chandan","Gulshan","prashant",54,68,7,15,412,85,14}
print(x)
y=x.pop()
print(x)
print(y)

{'chandan', 'prashant', 68, 7, 'Gulshan', 14, 15, 85, 54, 412}
{'prashant', 68, 7, 'Gulshan', 14, 15, 85, 54, 412}
chandan

## Clear method

In [42]:
x= {'code',"chandan","Gulshan","kunal",454,24,12,54,126}
print(x)
x.clear()
print(x)

{'chandan', 'kunal', 454, 'Gulshan', 12, 54, 24, 'code', 126}
set()

## Practice question

Question 1.
What method is used to add an element x to a set my_set in python?
(a). my_set.insert(x)
(b). my_set.append(X)
(c). my_set.add(x)
(d). my_set.update(x)

ans:(c)

Question 2.
which method can be used to add multiple elements at once to a set my_set?
(a). my_set.add_multiple(elements)
(b). my_set.append(elements)
(c). my_set.add(elements)
(d). my_set.update(elements)

ans:(d)