## Dictonary Part 2

#### Membership testing

In [5]:
person ={
    'name':'chandan',
    'age':21,
    'city':'lucknow'
}

In [6]:
print('name' in person)

True

In [7]:
print('age' in person)

True

In [8]:
print('email' in person)

False

In [9]:
print('state' in person)

False

#### Nested Dictionaries

In [13]:
employees ={
    'emp1':{
        'name':"chandan",
        'age':21,
        'city':"lucknow"
    },
    'emp2':{
        'name':"Gulshan",
        'age':20,
        'city':"lucknow"
    },
    'emp3':{
        'name':"Kunal",
        'age':23,
        'city':"Patna"
    }
    
}

In [14]:
print(employees)

{'emp1': {'name': 'chandan', 'age': 21, 'city': 'lucknow'}, 'emp2': {'name': 'Gulshan', 'age': 20, 'city': 'lucknow'}, 'emp3': {'name': 'Kunal', 'age': 23, 'city': 'Patna'}}

In [16]:
print(employees['emp3'])

{'name': 'Kunal', 'age': 23, 'city': 'Patna'}

In [17]:
print(employees['emp2'])

{'name': 'Gulshan', 'age': 20, 'city': 'lucknow'}

In [21]:
print(employees['emp3']['name'])

Kunal

In [22]:
print(employees['emp3']['age'])

23

In [23]:
print(employees['emp1']['name'])

chandan

In [24]:
print(employees['emp1']['city'])

lucknow

#### practice question 1

Create a dictionary book_ratings with the following initial dste:
'Python progarmming':4.5
'Data Science Handbook':4.8
'Machine learning Basic':4.2

Check if 'Python progarmming' is in book_ratings.
print"found" if exists, otherwise print"Not found".

Use a method to get all keys from book_rating and 
store them in a list titles.
print the list titles.

In [29]:
book_rating ={
    'Python progarmming':4.5,
    'Data Science Handbook':4.8,
    'Machine learning Basic':4.2
}
if 'Python progarmming' in book_rating:
    print("found")
else:
    print("Note found")

titles=list(book_rating.keys())
print(titles)

found
['Python progarmming', 'Data Science Handbook', 'Machine learning Basic']

#### Practice question 2

create a dictionary fruit_stock with the following items:
'apple':10,
'banana':15,
'orange':8,
'grape':20
Print each fruits along with its stock count
in the format "Fruit:stock" using a loop.

OUTPUT:
Fruit: apple,Stock:10
Fruit: banana,Stock:15
Fruit: orange,Stock:8
Fruit: grape,Stock:20

In [32]:
fruit_stock = {
    'apple':10,
    'banana':15,
    'orange':8,
    'grape':20
}
for fruit in fruit_stock:
    print("Fruit", fruit,"Stock",fruit_stock[fruit])

Fruit apple Stock 10
Fruit banana Stock 15
Fruit orange Stock 8
Fruit grape Stock 20

## properties of Dictionary

##### Dictionary Length

In [34]:
person ={
    'name':'chandan',
    'age':21,
    'city':'lucknow'
}

In [35]:
print(len(person))

3

In [37]:
employees ={
    'emp1':{
        'name':"chandan",
        'age':21,
        'city':"lucknow"
    },
    'emp2':{
        'name':"Gulshan",
        'age':20,
        'city':"lucknow"
    },
    'emp3':{
        'name':"Kunal",
        'age':23,
        'city':"Patna"
    }
    
}

In [38]:
print(len(employees))

3

#### Get Keys

In [39]:
a={
    'name':'satyam',    # kewal mujhe dictionary me se key find krna ho to get keys ka use krte hai.
    'age':22,
    'country':'India'
}

In [40]:
x=a.keys()
print(x)

dict_keys(['name', 'age', 'country'])

#### Get Values

In [41]:
a={
    'name':'satyam',    # kewal mujhe dictionary me se values find krna ho to get values ka use krte hai.
    'age':22,
    'country':'India'
}

In [42]:
y=a.values()
print(y)

dict_values(['satyam', 22, 'India'])

### Changed Value once dictionary is created

In [48]:
employees ={
    'emp1':{
        'name':"chandan",
        'age':21,
        'city':"lucknow"
    },                               #hm chahte hai ki itna bara deta me galti se 'emp2', ke age hona chahiye tha 22 lekin 20 hai abhi 
    'emp2':{                                   # to 'age ' 20 ke jagh pr 22 update krna hai.
        'name':"Gulshan",
        'age':20,
        'city':"lucknow"
    },
    'emp3':{
        'name':"Kunal",
        'age':23,
        'city':"Patna"
    }
    
}
print(employees)

{'emp1': {'name': 'chandan', 'age': 21, 'city': 'lucknow'}, 'emp2': {'name': 'Gulshan', 'age': 20, 'city': 'lucknow'}, 'emp3': {'name': 'Kunal', 'age': 23, 'city': 'Patna'}}

In [47]:

employees['emp2']['age']=22
print(employees)

{'emp1': {'name': 'chandan', 'age': 21, 'city': 'lucknow'}, 'emp2': {'name': 'Gulshan', 'age': 22, 'city': 'lucknow'}, 'emp3': {'name': 'Kunal', 'age': 23, 'city': 'Patna'}}

In [49]:
a={
    'name':'satyam',    
    'age':22,
    'country':'India'
}

In [51]:
a['country']="America"
print(a)

{'name': 'satyam', 'age': 22, 'country': 'America'}

### Adding items

In [52]:
person= {
    'name':'Rahul',
    'age':22
}
print(person)

{'name': 'Rahul', 'age': 22}

In [53]:
person['city']= 'new delhi'                        # naya keys and value add krne ke liye use krte hai.
person['email']="rahul@gmail.com"
print(person)

{'name': 'Rahul', 'age': 22, 'city': 'new delhi', 'email': 'rahul@gmail.com'}

### Update method

In [54]:
person={
    'name': 'Rahul', 'age': 22, 'city': 'new delhi', 'email': 'rahul@gmail.com'
}
print(person)

{'name': 'Rahul', 'age': 22, 'city': 'new delhi', 'email': 'rahul@gmail.com'}

In [55]:
person.update({"phone":1316512345})
print(person)

{'name': 'Rahul', 'age': 22, 'city': 'new delhi', 'email': 'rahul@gmail.com', 'phone': 1316512345}

In [56]:
person.update({"email":'jbsduhc@jj.com',"adhar number":485438415})
print(person)

{'name': 'Rahul', 'age': 22, 'city': 'new delhi', 'email': 'jbsduhc@jj.com', 'phone': 1316512345, 'adhar number': 485438415}

### Remove items

In [57]:
a={'name': 'Rahul', 'age': 22, 'city': 'new delhi', 'email': 'jbsduhc@jj.com', 'phone': 1316512345, 'adhar number': 485438415}
a.pop('email')
print(a)

{'name': 'Rahul', 'age': 22, 'city': 'new delhi', 'phone': 1316512345, 'adhar number': 485438415}

#### Delete items

In [59]:
a={'name': 'Rahul', 'age': 22, 'city': 'new delhi', 'email': 'jbsduhc@jj.com', 'phone': 1316512345, 'adhar number': 485438415}
del a['email']
print(a)

{'name': 'Rahul', 'age': 22, 'city': 'new delhi', 'phone': 1316512345, 'adhar number': 485438415}

In [64]:
del a['name'],a['age'],a['adhar number']
print(a)

{'city': 'new delhi', 'phone': 1316512345}

### Clear method

In [66]:
a={'name': 'Rahul', 'age': 22, 'city': 'new delhi', 'email': 'jbsduhc@jj.com', 'phone': 1316512345, 'adhar number': 485438415}
a.clear()
print(a)

{}

##### Practice question 1

Which method would you use to add a key-value pair to a dictionary?
a). dict.append(key,value)
b). dict.add(key,value)
c). dict.insert(key,value)
d). dict[key] = value

In [ ]:
ans:(d)

##### Practice question 2

Which method is used to return a view object of the dictionary's keys?
a). dict.keys()
b). dict.items()
c). dict.values()
d). dict.get_keys()

In [ ]:
ans:(a)